services: 
  frontend: 
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/frontend
      # protected storage inside container preventing local from overiding container's node module
      - /frontend/node_modules
    environment:
      - HOST=0.0.0.0
    command: npm run dev
  
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/backend
    env_file:
      - .env
    #command run from app/main.py with app object inside
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload